.flex-column-center {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.flex-row-space-between {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.margin-0-width-100 {
  margin: 0 auto;
  width: 100%;
}
